<!--<ion-view title="民生e天下">-->
	<ion-content class="bg">
		<div class="row home-header">
			<div class="col home-logo"><img src="images/logo.png" alt=""/>
			<span>民生E天下客户端</span></div>
			<div class="col user">
				<img src="images/user.png" alt=""/> <span>周洁</span>
				<span class="user-next"><img src="images/next.png" alt=""/></span>
				<span class="user-next"><img src="images/mail.png" alt=""/></span>
				<span>1</span>
			</div>
		</div>
		<div class="row info-view">
			<div class="col weather">
				<p class="date">2014年10月27日 周一 农历九月初三</p>

			</div>
			<div class="col col-25 user-info">
				<ul>
					<li>登录状态：离线</li>
					<li>代理人工号：321123</li>
					<li>所属机构：321123</li>
					<li>所属渠道：个人营销</li>
				</ul>
			</div>
		</div>
		<div class="item-demo">
			<div class="row">
				<div class="col"><img src="images/item.png" alt=""/></div>
				<div class="col"><img src="images/item.png" alt=""/></div>
				<div class="col"><img src="images/item.png" alt=""/></div>
				<div class="col"><img src="images/item.png" alt=""/></div>
			</div>
			<div class="row">
				<div class="col"><img src="images/item.png" alt=""/></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
		</div>

	</ion-content>
<!--</ion-view>-->

