<!--<ion-view title="南山松保险">-->
	<!--<ion-content>-->
		<div class="login-content">
			<div class="row">
				<div class="col col-45 login-left">
					<div class="logo"><img src="images/logo.png" alt=""/></div>
				</div>
				<div class="col col-45 login-main">
					<div class="login-box">
						<div class="welecome-title">欢迎使用</div>
						<div class="login-form">
							<div class="list list-inset">
								<label class="item-border item-input">
									<i class="icon ion-name placeholder-icon"></i>
									<input type="text" placeholder="用户名">
								</label>
								<label class="item-border item-input">
									<i class="icon ion-password placeholder-icon"></i>
									<input type="text" placeholder="密码">
								</label>
								<div class="login-text-right" ng-click="findPassword()">
									找回密码
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col col-10 login-right">
					<div class="logo" ng-click="loginTo()">
						<img src="images/loginto.png" alt=""/>
					</div>
				</div>
			</div>
		</div>

	<!--</ion-content>-->
<!--</ion-view>-->

